.yyxax { 
  padding-top: 93px;
  margin-left: 48px;
  font-size: 19px;
  padding-top: 57px;
  margin-left: 22px;
  margin-right: 92px;
  padding-left: 93px;
  border-top-width: 94px;
  padding-bottom: 41px;
  border-left-width: 92px;
  border-right-width: 21px;
  border-top-width: 38px;
  padding-top: 69px;
}
