.yyxax { 
  padding-top: 93px;
  margin-left: 48px;
  font-size: 19px;
  padding-top: 57px;
  margin-left: 22px;
  margin-right: 92px;
  padding-left: 93px;
  border-top-width: 94px;
  padding-bottom: 41px;
  border-left-width: 92px;
  border-right-width: 21px;
  border-top-width: 38px;
  padding-top: 69px;
  margin-bottom: 83px;
  border-right-width: 68px;
  margin-left: 3px;
  margin-right: 13px;
  margin-left: 89px;
  margin-right: 50px;
  padding-left: 87px;
  font-size: 30px;
  padding-right: 33px;
  margin-left: 71px;
  line-height: 13px;
  padding-right: 93px;
  margin-bottom: 45px;
  line-height: 19px;
  border-bottom-width: 18px;
  border-bottom-width: 48px;
  padding-top: 22px;
  margin-top: 83px;
  border-top-width: 84px;
  margin-right: 64px;
  margin-right: 49px;
  margin-right: 88px;
  padding-top: 56px;
  border-left-width: 44px;
  padding-bottom: 26px;
  border-bottom-width: 45px;
  padding-top: 31px;
  margin-right: 58px;
  padding-right: 96px;
  margin-top: 55px;
  border-top-width: 20px;
  border-left-width: 94px;
  line-height: 3px;
}
